@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://wallpapercave.com/wp/wp6812440.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    background: none;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em ;
    color: black;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    text-shadow: 0 0 5px  pink;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(254, 173, 223);
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: .5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid pink;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: pink;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
    transform-origin: right;
    background-color: pink;
    color: white;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .bth{
    transition: 0.5s;
    width: 800px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 5px;
    padding: 20px;
    text-align: justify;
}

p{
    text-shadow: 0 0 5px  pink;
    color: #333333; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.letter-birth{
    display:block;
}

.letter-san{
    display: block;
}

.letter-birth .no {
 display: none;
}

.letter-san .no {
 display: none;
}

h2{
    text-shadow: 0 0 5px  pink;
    text-align: center;
    margin-bottom: 15px;
}

.primeraIMG{
    border-radius: 10px;
    width: 350px;
    height: 300px;
}

.primero{
    display: block;
}

.no {
    display: none;
}